<main class="main">
  <section
  id="sectionVideo"
  #sectionVideo
  class="video-section">

  <app-video
    *ngIf="isReady"
    (videoRef)=setVideoRef($event)
    [videoSize]="videoSize">
  </app-video>
    <!-- <video
      [class.show]="!isCaptured"
      [class.hide]="isCaptured"
      #video
      id="video"
      [width]="WIDTH"
      [height]="HEIGHT"
      autoplay
    >
    </video> -->
  </section>
  <section class="frame-section">
    <app-acess [setAcess]="hasMask"></app-acess>
    <!-- <div class="result-container">
      <div *ngIf="!hasMask" class="container-label">
        <div class="iconbox svg-icon-cadeado">
        </div>
        <div class="labels-container">
          <p class="label-negado">Acesso Negado</p>
          <p class="label-negado-explicacao">Controle sanitário - Você está sem máscara</p>
        </div>
      </div>
      <div *ngIf="hasMask" class="container-label">
        <div class="iconbox svg-icon-cadeado-aberto">
        </div>
        <div class="labels-container">
          <p class="label-permitido">Acesso permitido</p>
          <p class="label-permitido-explicacao">Seja bem vindo - Você está com máscara!</p>
        </div>
      </div>
    </div> -->

    <div class="canvas-container">
      <app-frame *ngIf="isReady" [videoElement]="videoElementRef" 
        (getImageRef)="setImageFunction($event, 1)" [frameSize]="frameSize" >
      </app-frame>
      <app-frame  *ngIf="isReady" [videoElement]="videoElementRef" 
        (getImageRef)="setImageFunction($event, 2)" [frameSize]="frameSize" >
      </app-frame>
      <app-frame *ngIf="isReady" [videoElement]="videoElementRef"  
        (getImageRef)="setImageFunction($event, 3)" [frameSize]="frameSize" >
      </app-frame>

    </div>

  </section>
  <!-- <div class="main">
    <video
      [class.show]="!isCaptured"
      [class.hide]="isCaptured"
      #video
      id="video"
      [width]="WIDTH"
      [height]="HEIGHT"
      autoplay
    ></video>
    <canvas
      class="canvas"
      [class.show]="isCaptured"
      [class.hide]="!isCaptured"
      #canvas
      id="canvas"
      [width]="WIDTH"
      [height]="HEIGHT"
    ></canvas>
  </div> -->
  
  <!-- <div class="snap-container">
    <button class="btn btn-primary" (click)="capture()">
      Snap Photo
    </button>
  </div> -->

  <!-- <div class="divResult" [ngClass]="hasMask ? 'mask' : 'noMask'">
    {{label}}
  </div> -->
</main>

<!-- <embed src="file.txt"> -->